/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');

.gallery {
    list-style: none;
    padding: 24px 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    flex-basis: calc((100% - 48px) /3);
}

.gallery-image {
    display: block;
    width: 100%;
height: auto;
object-fit: cover;
/* transition: transform 0.3s ease;
cursor: pointer; */
}

.gallery-image:hover {
transform: scale(1.03);
cursor: zoom-in;
transition: transform 0.3s ease;
}

/* ------form-------- */
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  width: 408px;
background: #ffffff;
border-radius: 8px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #2e2e2e;
}

.feedback-form input,
.feedback-form textarea {
  padding: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
font-size: 16px;
}
.feedback-form input:hover,
.feedback-form textarea:hover {
border-color: #000000;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
border-color: #808080;
outline: none;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  background: #4e75ff;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}
.feedback-form button:hover { 
background: #6c8cff;
}